@charset "utf-8";

/** ------------------------------------全局定义---------------------------------------- **/

/** 将具有默认margin和padding的标记置零，所有标记的margin、padding都在使用时具体定义 **/
*{ margin:0;padding:0;}

/** 修正IE5.x和IE6的斜体溢出bug **/
*html body{ overflow:visible;}
*html iframe, *html frame{ overflow:auto;}
*html frameset{ overflow:hidden;}

/** 常用标签，基本标签默认样式取消，HTML标签，取消基本标签默认样式，防止不同浏览器显示效果不同，text-align:center; 解决不同浏览器居中问题 **/
body{ color:#000; background:#FFF; font:12px/1.5 'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti; text-align:center;-webkit-text-size-adjust:none;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}

/** 设置内容左对齐，恢复因BODY设置剧中产生的继承 **/
body div{ text-align:left;}

/** 标签属性，textarea,input 强制输入时内容超出时换行 **/
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}

/** 清除ul列表标记的样式，ul列表更多的用在不需要列表前置符号的样式里 **/
li{ list-style-type:none;}

/** 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 **/
img{ border:0 none;}

/** 浮动定义 **/
.FL{ float:left;}
.FR{ float:right;}

/** ------------------------------------清理元素--------------------------------------- **/

/** 清理浮动元素,当浮动换行时后面元素不希望浮动，添加此属性，防止IE BUG **/

.clear{ clear:both; height:0px; content:'.';font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.cl{zoom:1;}


/** --------------------------------------通用CSS结束------------------------------------------- **/

