*{margin:0; padding:0;}
body{background-color:#f6f6f6;}
a{outline:none; text-decoration:none;}				
*html a{blr:expression(this.onFocus=this.blur());}
*+html a{blr:expression(this.onFocus=this.blur());}
body{font-family:"Microsoft YaHei"!important;}
button,select{font-family:"Microsoft YaHei"!important;}
a:hover{text-decoration:underline;}
a:active{outline:none; blr:expression(this.onFocus=this.blur());}
img,div,input,select{border:none;}
li{list-style:none;}
small{float:right;}
.text-center{text-align: center;}
.c_img{padding-top:50px;}

.w980{width:980px; margin:auto;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.bhh{float:left;}
.hh{float:right;}
.dis{}
.undis{display:none;}




/*------------------------------------ head ------------------------------------*/
.head{height:71px; background-color:#211A1F; font-size:12px; color:#929292;}
	.head h1{width:85px; height:29px; background:url(../images/logo.gif) no-repeat; margin:21px 0 0 0; float:left; font-size:0px; overflow:hidden; text-indent:-500px; display:block; cursor:hand;}

	.head dd{padding:20px 0 0 20px;}
		.head dd a{color:#FFF;}

	.head li{height:49px; background:url(../images/head_down.gif) right no-repeat; padding:22px 19px 0 0; position:relative;}
		.head li img{width:25px; height:25px; border:1px solid #c9c9c9; margin-right:9px;}
		.head li a{color:#FFF;}
		
	.head dt{width:140px; background:url(../images/head_menu1.gif); position:absolute; top:71px; right:0; display:none; z-index:3}
	.head dt a:hover{text-decoration:none;}
		.head p{height:34px; line-height:36px; padding-left:54px; cursor:hand;}
		*html .head p{line-height:34px;}
			.head a p{color:#929292;}
		.head a:hover p{color:#fff;}
		.head a:hover .p1{background:url(../images/head_menu2.gif) 0 0;}
		.head a:hover .p2{background:url(../images/head_menu2.gif) 0 -34px;}
		.head a:hover .p3{background:url(../images/head_menu2.gif) 0 -68px;}
		.head a:hover .p4{background:url(../images/head_menu2.gif) 0 -102px;}
		.head a:hover .p5{background:url(../images/head_menu2.gif) 0 -136px;}




/*------------------------------------ nav ------------------------------------*/
.nav{height:92px; background-color:#F3B512; border-bottom:3px solid #C2910E;}
	.nav li{width:140px; height:92px; background:url(../images/nav_bg.gif) no-repeat; text-align:center}
	.nav a:hover li{background:url(../images/nav_bg2.gif) no-repeat;}
		.nav p{padding:25px 0 0 10px;}
			.nav a{color:#FFF; font-size:20px;}
			.nav a:hover{ text-decoration:none; cursor:hand;}
		.nav b{font-size:10px; color:#FFF; font-weight:normal;padding:0 0 0 10px;}

/*------ 漂浮 ------*/
.kv{position:relative; top:320px;}	
	.search{width:345px; height:340px; position:absolute; right:0px; bottom:-68px; z-index:2; background:url(../images/bg_black_0.7.png);}
		.search .title{border-left:10px solid #F3B512; height:58px; color:#fff; line-height:90px; font-size:20px; padding-left:20px;}
			.search .title span{font-size:20px; font-family:Arial; font-weight:bold;}
	
	.search form{margin:35px 30px; position:relative;}
		.search form input{width:230px; padding:15px 14px 14px 41px;}
		*+html .search form input{padding:15px 14px 13px 10px;}
		*html .search form input{padding:15px 18px 13px 13px;}
			.search form button{width:39px; height:39px; background:url(../images/search_btn.png) no-repeat center center #F3B512; position:absolute; right:3px; top:3px; border:0px;}
			*html .search form button{right:31px; top:4px;}
	
	.search .quick_menu{padding:0 30px;}
		.search .quick_menu .tit{color:#FFF; font-size:14px;}
		*html .search .quick_menu .tit{padding-left:100px;}
		.search .quick_menu .tit img{ padding-top:7px;}

	.search .quick_menu ul{width:300px; padding:20px 0 0 5px;}
	*+html .search .quick_menu ul{padding:20px 0 0 5px;}
	*html .search .quick_menu ul{padding:20px 0 0 50px;}
		.search .quick_menu ul li{padding:0 15px 0 0;}
			.search .quick_menu ul li a{width:60px; height:93px; display:inline-block;}
	.search .quick_menu ul li a.q1{background:url(../images/quick_icons.png) no-repeat left top;}
	.search .quick_menu ul li a.q2{background:url(../images/quick_icons.png) no-repeat -77px top;}
	.search .quick_menu ul li a.q3{background:url(../images/quick_icons.png) no-repeat -154px top;}
	.search .quick_menu ul li a.q4{background:url(../images/quick_icons.png) no-repeat -231px top;}




/*------------------------------------ gg ------------------------------------*/
.gg{height:50px; background-color:#fff; font-size:12px; color:#5b5b5b;}
	.gg ul{width:908px; padding:17px 0 0 17px;}
		.gg li a{color:#5b5b5b;}
			.gg p{background:url(../images/gg.gif) no-repeat 5px; padding-left:27px;}
	.gg dl{margin:19px 23px 0 0;}
	*html .gg dl{margin:19px 13px 0 0;}
		.gg dd{margin-left:10px;}




/*------------------------------------ name ------------------------------------*/
.name{height:165px; background-color:#FFF; overflow:hidden;}
	.name li{height:165px;}
	.name .li1{width:327px; border-right:1px solid #e8e8e8;}
	.name .li2{width:245px; background:url(../images/jifen.gif) 112px 58px no-repeat; border-right:1px solid #e8e8e8;}
	.name .li3{width:243px; background:url(../images/pl.gif) 112px 60px no-repeat;}
	.name .li4{width:163px;}
	
	.name dl{position:relative; padding:29px 0 0 44px;}
		.name ol{position:absolute; z-index:1; left:44px;}
		*html .name ol{position:absolute; left:-209px;}
		.name dd{}
			.name dd img{width:115px; height:115px;}
		.name dt{padding:10px 0 0 30px; color:#211A1F;}
			.name dt p{padding-top:7px;}
			.name dt b{color:#F3B512; font-weight:normal; margin-left:5px;}

			.name center{padding-top:90px; color:#00AAFF; font-size:14px;}
			.name b{color:#5b5b5b;}




/*------------------------------------ menu1 ------------------------------------*/
.menu1{width:978px; height:146px; background:url(../images/menu_bg.gif) repeat-x; margin:30px auto 21px auto;}
	.menu1 li{width:163px;}




/*------------------------------------ menu2 ------------------------------------*/
.menu2{height:240px;}
	.menu2 dl{width:540px;}
		.menu2 dl img{width:540px; height:240px;}
	.menu2 ul{width:440px;}
	.menu2 ul li{width:190px; height:105px; padding-left:30px;}




/*------------------------------------ 我的行程 ------------------------------------*/
.No1{height:75px; background-color:#FFF;}
	.No1 li{width:245px; color:#595959; text-align:center;}
		.No1 li img{padding-right:10px;}

.MyWay{height:280px; background-color:#FFF;}
	.MyWay ul{width:490px;}
		.MyWay dd{width:490px; height:54px; line-height:54px; background:#F3B512; color:#fff; text-align:center; font-weight:bold;}
			*+html .MyWay dd{margin-left:-40px;}
			*html .MyWay dd{margin-left:-40px;}
		.MyWay dt{width:490px; height:54px; line-height:54px; background:#00AAFF; color:#fff; text-align:center; font-weight:bold;}
		.MyWay li{width:450px; color:#595959; height:50px; line-height:50px; margin:0 20px 0 20px; border-bottom:1px dashed #cfcfcf; text-align:left; font-weight:normal;}
			*+html .MyWay li{margin:0 10px 0 0;}
			*html .MyWay li{margin:0 10px 0 0;}




/*------------------------------------ 网上值机 ------------------------------------*/
.net_1{height:50px;}
	.net_1 dd{float:left;}

.net_2{width:920px; margin:30px auto 0 auto; background-color:#FFF; color:#595959; font-size:12px; padding:30px; line-height:20px;}
	.net_2 a{color:#00AAFF;}
	.net_2 span{font-size:16px;}
		.net_2 b{color:#F3B512;}

.net_3{height:200px; background:url(../images/net_3_bg.gif) no-repeat;}
	.net_3 dl{width:475px; height:200px; text-align:center; color:#666;}
		.net_3 dd{padding-top:30px;}
		.net_3 h2{font-size:40px; color:#333; font-weight:normal;}
		.net_3 dt{padding-top:30px;}

.net_4{height:75px; background-color:#FFF;}
	.net_4 ul{margin:0 100px 0 290px;}
		.net_4 ul li{width:200px; height:35px; color:#595959; font-size:28px; text-align:center; margin:20px 0 0 0; border-right:1px solid #ccc;}
		.net_4 b{color:#F6CB5B; font-size:28px;}	

.net_5{height:100px; background-color:#FFF;}
	.net_5 ul{padding-left:80px;}
		.net_5 ul li{color:#595959; font-size:14px; margin:30px 0 0 30px; padding-right:30px; height:40px; border-right:1px solid #ccc;}

.net_6{width:920px; margin:30px auto 0 auto; background-color:#FFF; color:#595959; font-size:12px; padding:30px;}
	.net_6 b{color:#F2B412; font-weight:normal;}

.net_7{background-color:#FFF;}
	.net_7 h2{height:60px; border-top:1px solid #dfdfdf; color:#858585; font-size:14px; font-weight:normal;}
		.net_7 small{width:34px; height:34px; margin:14px 17px 0 0;}
	
	.hovertab_4{background:url(../images/up.gif) no-repeat right;}
	.normaltab_4{background:url(../images/down.gif) no-repeat;}

	.net_7 dl{border-top:6px solid #00aaff; color:#858585; font-size:24px; padding:20px 0 0 30px; height:30px; overflow:hidden;}
		.net_7 dd{width:240px;}
		.net_7 dt{width:240px;}
			.net_7 b{color:#F6CB5B; font-size:24px;}
			
		.net_7 ul{ background-color:#FFFFFF; height:80px; color:#666;}
			.net_7 li{padding:10px 0 0 30px; font-size:13px;}




/*------------------------------------ 航班动态 ------------------------------------*/
.hbdt{background-color:#FFF;}
	.hbdt dl{width:980px; height:63px;}
	.hbdt dl dd{width:490px; height:63px; text-align:center; font-size:20px; line-height:50px; float:left;}
		.hbdt dl dd a{color:#FFF;}
		.hbdt dl dd a:hover{text-decoration:none;}
	.hovertab_1{background:url(../images/dt_top_1.gif) no-repeat;}
	.normaltab_1{background:url(../images/dt_top_2.gif) repeat-x;}
	
	.hbdt ul{padding-bottom:30px;}
		.hbdt table{width:925px; height:98px; margin:20px 0 0 28px; border:1px solid #dfdfdf; text-align:center;}
			.hbdt th{height:30px; color:#969696; font-weight:normal; font-size:16px;}
			.hbdt td{height:65px; color:#474747; font-size:14px;}
				.hbdt td img{width:120px; height:65px;}




/*------------------------------------ 消息通知 ------------------------------------*/
.message{background-color:#FFF;}
	.message ul{padding-bottom:20px;}
		.message li{font-size:12px; color:#A0A0A0; margin:0 20px 0 20px; padding:20px 0 10px 0; border-bottom:1px dotted #cfcfcf;}
			.message h2{font-size:16px; padding-bottom:5px; font-weight:normal;}
				.message h2 a{color:#595959;}
			.message small{color:#00AAFF; font-size:14px; padding-top:5px;}




/*------------------------------------ 发现 ------------------------------------*/
.find_1{height:220px; background-color:#FFF;}
	.find_1 li a{opacity:1; filter:alpha(opacity=100);}
	.find_1 li a:hover{opacity:0.8; filter:alpha(opacity=85);}

.find_2{height:200px; background-color:#FFF;}
	.find_2 li{margin:29px 0 0 26px;}
		.find_2 li img{width:200px; height:130px; border:1px solid #e1e1e1; padding:5px;}
		.find_2 li a:hover img{border:1px solid #00aaff;}




.L{width:190px;}
	.L ul li{height:105px;}
/*------------------------------------ 我的订单 ------------------------------------*/
.MyDD{width:760px; background-color:#FFF; padding-bottom:30px;}
	.MyDD dl{padding:10px 0 0 30px;}
		.MyDD dl dd{height:44px; line-height:44px; float:left; font-size:14px; width:137px; text-align:center;}
		.MyDD .w1{height:15px; width:1px; color:#a6a6a6; padding-top:0;}
			.MyDD dl dd a{color:#595959;}
			.MyDD dl dd a:hover{text-decoration:none;}
	.hovertab_2{border-bottom:5px solid #00aaff;}
	.normaltab_2{}
	
		.MyDD table{width:700px; text-align:center; margin-left:30px;}
			.MyDD th{background-color:#f7f7f7; height:40px; color:#333; font-size:14px; font-weight:normal;}
			.MyDD td{height:97px; font-size:14px; color:#595959; border-bottom:1px dotted #c7c7c7;}
				.MyDD td img{width:58px; height:58px; padding-right:10px;}
				.MyDD td p{width:70px; height:20px; text-align:center; margin-top:5px; font-size:12px; line-height:22px;}
					.MyDD td a p{background-color:#f7f7f7; color:#595959;}
					.MyDD td a:hover p{background-color:#00aaff; color:#fff;}
				.MyDD td a:hover{text-decoration:none;}




/*------------------------------------ 账户信息 ------------------------------------*/
.ZHXX{width:760px; background-color:#FFF; padding-bottom:30px;}
	.ZHXX dl{overflow:hidden; padding:30px 0 0 30px; height:90px;}
		.ZHXX dd{}
			.ZHXX dd img{width:76px; height:76px;}
		.ZHXX dt{width:110px; padding:15px 0 0 20px;}
		.ZHXX dt p{font-size:16px; color:#595959;}
		.ZHXX dt a{font-size:12px; color:#00AAFF;}
		
	.ZHXX ul{margin:10px 30px 0 30px;}
		.ZHXX ul li{color:#595959; font-size:14px; border-top:1px dotted #d4d4d4; padding:25px 0 15px 0;}
		.ZHXX p{width:60px; padding:5px 0 5px 0; text-align:center; font-size:12px; float:right; color:#d9d9d9;}
			.ZHXX a p{color:#0FAFFF;}
			.ZHXX a:hover p{background-color:#00aaff; color:#fff; text-decoration:none; cursor:hand;}




/*------------------------------------ 支付信息 ------------------------------------*/
.payXX{width:760px; background-color:#FFF; padding-bottom:30px;}
	.payXX dl{overflow:hidden; padding:30px 0 30px 30px; border-bottom:1px dotted #d4d4d4;}
	*html .payXX dl{padding:30px 0 60px 30px;}
		.payXX dd{background:url(../images/pay_ico1.gif) 0px 9px no-repeat; font-size:16px; color:#595959; padding-left:30px;}
			.payXX dd b{font-size:24px; color:#00AAFF;}
			.payXX span a{font-size:12px; color:#00AAFF; margin-left:10px;}
		
		.payXX dt{background:url(../images/pay_ico2.gif) 0px 9px no-repeat; font-size:16px; color:#595959; padding-left:30px; margin-right:40px;}
		.payXX dt b{font-size:24px; color:#595959;}
	
	.payXX ul{margin:0px 30px 0 30px;}
		.payXX ul li{color:#595959; font-size:14px; border-bottom:1px dotted #d4d4d4; padding:5px 0 5px 0;}
		.payXX small{padding-top:25px;}
		.payXX p{width:60px; padding:5px 0 5px 0; text-align:center; font-size:12px; float:right; color:#d9d9d9;}
			.payXX a p{color:#0FAFFF;}
			.payXX a:hover p{background-color:#00aaff; color:#fff;}
			
		.payXX ol{font-size:16px; padding:30px; color:#595959;}
		.payXX ol img{padding-right:20px;}




/*------------------------------------ 我的收藏 ------------------------------------*/
.favorites{width:760px; background-color:#FFF; padding-bottom:30px;}
	.favorites ul{margin:10px 30px 0 30px;}
		.favorites ul li{color:#595959; font-size:14px; border-bottom:1px dotted #d4d4d4; padding:25px 0 15px 0;}
			.favorites ul li a{color:#595959; font-size:14px;}
		.favorites p{width:60px; padding:5px 0 5px 0; text-align:center; font-size:12px; float:right;}
			.favorites a:hover p{background-color:#00aaff; color:#fff;}








.place{background:url(../images/place_ico.gif) no-repeat 0 4px; color:#595959; font-size:16px; padding-left:20px;}
	.place a{color:#595959;}
/*------------------------------------ 便捷登机首页 ------------------------------------*/
.bjdj_index{height:426px;}
	.bjdj_index ul{width:622px; height:427px;}
		.mainbox{overflow:hidden; position:relative;}
			.flashbox{overflow:hidden; position:relative;}
			.imagebox{position:relative; z-index:999; left:280px;}

.bitdiv{width:13px; height:13px; margin:0 10px 10px 0px; cursor:pointer; display:inline-block; float:left;}
.defimg{background:url(../images/02.png) no-repeat;}
.curimg{background:url(../images/01.png) no-repeat;}

	.bjdj_index dl{width:328px; height:426px; background-color:#FFF;}
		.bjdj_index dl dd{padding:30px 0 30px 30px; color:#6C6C6C; font-size:12px; border-bottom:1px solid #F0F0F0;}
			.bjdj_index h2{ font-size:22px; color:#626262; font-weight:normal; margin-bottom:10px;}
		.bjdj_index dt{padding:30px 0 0 50px; color:#909090; line-height:50px; font-size:18px;}
		.bjdj_index b{color:#6C6C6C;}
		.bjdj_index span{color:#D90000;}
		.bjdj_index input{width:20px; height:20px; margin-right:5px; border:1px solid #A7A7A7; background-color:#FFF; font-size:16px; color:#6C6C6C;}
		.bjdj_index .text{width:40px; height:18px; font-size:14px; text-align:center; color:#E02F2F; line-height:21px;}
		.bjdj_index dt img{padding:20px 0 0 19px;}

.sleep{height:58px; background:url(../images/sleep_top.gif) left no-repeat #fff; font-size:14px;}
	.sleep p{padding:18px 0 0 220px; color:#6c6c6c;}
	.sleep b{color:#00aaff; font-weight:normal;}

.bjdj_index_door{background-color:#FFF;}
	.bjdj_index_door ul{height:65px; border-bottom:2px solid #f0f0f0;}
		.bjdj_index_door li{width:120px; padding:23px 0 20px 0; float:left; font-size:14px; text-align:center;}
			.bjdj_index_door li a:hover{text-decoration:none;}
			
			.hovertab_5{border-bottom:3px solid #00aaff;}
				.hovertab_5 a{color:#333;}
				.normaltab_5 a{color:#B3B3B3;}

	.bjdj_index_door dl{padding:30px; font-size:15px; color:#6C6C6C; line-height:28px;}




/*------------------------------------ 电瓶车购买 ------------------------------------*/
.TiShi{height:58px; background:url(../images/TiShi_top.gif) left no-repeat #fff; font-size:14px;}
	.TiShi p{padding:18px 0 0 200px; color:#6c6c6c;}
	.TiShi b{color:#00aaff; font-weight:normal;}

.buy_ddc_door{background-color:#FFF;}
	.buy_ddc_door li{width:490px; padding:20px 0 19px 0; float:left; font-size:30px; text-align:center;}
		.buy_ddc_door li a:hover{text-decoration:none;}
		
		.hovertab_6{background-color:#00AAFF;}
			.hovertab_6 a{color:#fff;}
		.normaltab_6{background-color:#e8e8e8;}
			.normaltab_6 a{color:#6C6C6C;}

		.buy_ddc_door dd{padding:20px 100px 20px 80px; font-size:12px; color:#8B8B8B;}
		.buy_ddc_door p{font-size:20px; color:#6C6C6C;}




/*------------------------------------ 便捷登机 ------------------------------------*/
.bjdj_door{background-color:#FFF; padding-bottom:120px;}
*+html .bjdj_door{padding-bottom:50px;}
	.bjdj_door li{width:490px; padding:16px 0 19px 0; float:left; font-size:30px; text-align:center;}
		.bjdj_door li a:hover{text-decoration:none;}
		
	.bjdj_door dl{padding:130px 0 30px 0; border-bottom:1px solid #EAEAEA;}
		.bjdj_door p{padding:0 0 30px 300px; font-size:16px; color:#6B6B6B;}
		.bjdj_door p a{color:#00AAFF; font-size:14px; margin-left:70px;}
		.bjdj_door input{width:280px; padding:10px; border:1px solid #EAEAEA; color:#6B6B6B;}
		
	.bjdj_door h3{font-size:20px; color:#787878; font-weight:normal; text-align:center; padding-top:20px;}
	
	.bjdj_door dd{background-color:#FFF;}
		.bjdj_door dt{width:170px; height:60px; padding:30px 0 0 60px;}
		*+html .bjdj_door dt{padding:30px 0 0 45px;}
		*html .bjdj_door dt{padding:30px 0 0 45px;}
			.bjdj_door dt img{width:170px; height:60px;}




/*------------------------------------ 订单确认 ------------------------------------*/
.pay_dd{background-color:#FFF;}
	.pay_dd table{width:920px; text-align:center; padding:0 0 0 30px;}
	*+html .pay_dd table{ margin-left:30px;}
	*html .pay_dd table{ margin-left:30px;}
		.pay_dd th{background-color:#00aaff; color:#FFF; font-size:20px; font-weight:normal; padding:7px 0 7px 0;}
		.pay_dd td{color:#787878; font-size:14px; padding:30px 0 30px 0; border-bottom:1px solid #EAEAEA;}
			.pay_dd td a{color:#787878;}
			.pay_dd .TongYi{width:11px; height:11px;}
			*+html .pay_dd .TongYi{width:16px; height:16px; border:none;}
			
			.pay_dd b{color:#E03939; font-size:20px; font-weight:normal;}
			.pay_dd span{color:#00AAFF; font-size:26px; font-weight:bold;}
			.pay_dd input{width:20px; height:20px; margin-right:5px; border:1px solid #A7A7A7; background-color:#FFF; font-size:16px; color:#6C6C6C; text-align:center;}

		.pay_dd h2{font-size:30px; color:#787878; font-weight:normal; padding:20px 0 20px 0;}
		.pay_dd h3{font-size:14px; color:#787878; font-weight:normal;}
		.pay_dd h3 a{color:#00AAFF;}

	*html .pay_dd dl{padding:0;}
		.pay_dd dt{width:190px; height:92px; padding:0 0px 0 30px;}
			.pay_dd dt img{width:190px; height:92px;}




/*------------------------------------ 订单确认 ------------------------------------*/
.ddc{background-color:#FFF; font-size:18px; color:#6C6C6C;}
	.ddc table{width:910px; padding:30px 0 50px 70px;}
	*+html .ddc table{margin:30px 0 50px 70px;}
	*html .ddc table{margin:30px 0 50px 70px;}
	.ddc td{padding:10px 0 10px 0;}
		.ddc input{width:280px; padding:14px; border:1px solid #EAEAEA; color:#6B6B6B;}
		.ddc .Jia{width:20px; height:20px; margin-right:5px; border:1px solid #A7A7A7; background-color:#FFF; font-size:12px; color:#6C6C6C; padding:0px; text-align:center;}
		*+html .ddc .Jia{line-height:18px;}
		.ddc p{padding-left:10px;}
		.ddc small{font-size:14px; color:#6C6C6C; padding:20px 30px 0 0;}
		*+html .ddc small{padding:20px 100px 0 0;}
		*html .ddc small{padding:20px 100px 0 0;}
			.ddc b{font-size:26px; color:#00AAFF;}
	.ddc h2{font-weight:normal; font-size:16px; color:#6B6B6B; padding:20px 0 0 0;}
		*html .ddc dl{padding:0;}
		.ddc dt{width:190px; height:92px; padding:0 20px 0 0;}
			.ddc dt img{width:190px; height:92px;}

	


/*------------------------------------ 激活 ------------------------------------*/
.JiHuo{background-color:#FFF; font-size:18px; color:#6C6C6C;}
	.JiHuo table{width:910px; padding:30px 0 50px 70px;}
	*+html .JiHuo table{ margin:30px 0 50px 70px;}
	*html .JiHuo table{ margin:30px 0 50px 70px;}
		.JiHuo td{padding:10px 0 10px 0; font-size:16px;}
		.JiHuo select{padding:5px 10px 10px 10px; border:1px solid #EAEAEA; color:#6B6B6B; font-size:22px; background-color:#ebebeb; font-weight:bold;}
			.JiHuo input{width:280px; padding:14px; border:1px solid #EAEAEA; color:#6B6B6B;}




/*------------------------------------ banner ------------------------------------*/
.banner_1{height:320px; background:url(../images/banner/1.jpg) center no-repeat;}
.banner_3{height:320px; background:url(../images/banner/3.jpg) center no-repeat;}
.banner_6{height:320px; background:url(../images/banner/6.jpg) center no-repeat;}
.banner_7{height:320px; background:url(../images/banner/7.jpg) center no-repeat;}
.banner_10{height:320px; background:url(../images/banner/10.jpg) center no-repeat;}
.banner_11{height:320px; background:url(../images/banner/11.jpg) center no-repeat;}
.banner_16{height:320px; background:url(../images/banner/16.jpg) center no-repeat;}
.banner_17{height:320px; background:url(../images/banner/17.jpg) center no-repeat;}
.banner_18{height:320px; background:url(../images/banner/18.jpg) center no-repeat;}
.banner_19{height:320px; background:url(../images/banner/19.jpg) center no-repeat;}
.banner_20{height:320px; background:url(../images/banner/20.jpg) center no-repeat;}
.banner_21{height:320px; background:url(../images/banner/21.jpg) center no-repeat;}
.banner_22{height:320px; background:url(../images/banner/22.jpg) center no-repeat;}
.banner_23{height:320px; background:url(../images/banner/23.jpg) center no-repeat;}
.banner_24{height:320px; background:url(../images/banner/24.jpg) center no-repeat;}
.banner_25{height:320px; background:url(../images/banner/25.jpg) center no-repeat;}
.banner_26{height:320px; background:url(../images/banner/26.jpg) center no-repeat;}
.banner_27{height:320px; background:url(../images/banner/27.jpg) center no-repeat;}
.banner_28{height:320px; background:url(../images/banner/28.jpg) center no-repeat;}
.banner_29{height:320px; background:url(../images/banner/29.jpg) center no-repeat;}
.banner_30{height:320px; background:url(../images/banner/30.jpg) center no-repeat;}




/*------------------------------------------------------- other -------------------------------------------------------*/
.other_L{width:748px; border:1px solid #dadada; background-color:#FFF;}

.MyMenu{width:198px; border:1px solid #dadada; background-color:#FFF; font-size:12px;}
	.MyMenu h2{height:67px; line-height:67px; font-weight:normal; font-size:22px; text-align:center; color:#F2B312; background-color:#f9f9f9; border-bottom:1px solid #dadada;}
	*html .MyMenu h2{width:218px;}
	
	.MyMenu div{overflow:hidden;}/* 按钮 */
		.MyMenu div span{width:148px; height:49px; line-height:48px; font-size:16px; background:url(../images/button-down.gif) no-repeat 140px; border-bottom:1px solid #dadada; padding-left:10px; margin-left:20px; display:block;}
		
		.MyMenu div.collapsed{height:49px; border-bottom:1px solid #dadada; margin:0 20px 0 20px;}/* 按钮之间高度 */
			.MyMenu div.collapsed span{background:url(../images/button-right.gif) no-repeat 120px;}
				.MyMenu div span a{color:#727272;}
				.MyMenu div span a:hover{color:#F2B512; text-decoration:none;}

		.MyMenu p{height:30px; line-height:32px; border-bottom:1px solid #dadada; margin:0 40px 5px; 40px; text-align:center;}
			.MyMenu p a{color:#727272; display:block;}
			.MyMenu p a:hover{color:#F2B512;}


.page_list{height:29px; padding:30px 0 30px 150px;}
	.page_list ul li{margin-left:10px; text-align:center;}
		.page_list ul a{color:#848484;}
		.page_list ul a li{color:#848484; font-size:12px; border:1px solid #ddd; padding:5px 10px 5px 10px;}
		.page_list ul a:hover li{ background-color:#00aaff; border:1px solid #00aaff; color:#FFF; text-decoration:none; cursor:hand;}




/*------------------------------------ 01_航班信息.html ------------------------------------*/
.HBXX_article{}
	.HBXX_article table{border:1px solid #cacaca; color:#727272; margin:20px auto 0 auto; text-align:center; color:#999; font-size:14px; background-color:#FFF;}
		.HBXX_article th{height:35px;}
		.HBXX_article th a{width:10px;}
		.HBXX_article td{height:70px;}
			.HBXX_article b a{color:#00aaff;}
			.HBXX_article a p{color:#fff; width:60px; padding:34px 0 34px 0; font-size:20px; background-color:#d1d1d1;}
			.HBXX_article a:hover p{background-color:#F3B512;}
			.HBXX_article a:hover{text-decoration:none;}

	.HBXX_article form{}
	.HBXX_article input{width:347px; padding:14px 0 13px 20px; background:#eee; border:0px; font-size:16px;}
		.HBXX_article button{float: left;width: 110px;height: 46px;border:0px;background: #F3B512;font-size: 18px;color: #fff;margin-right:20px;}
		.HBXX_article label{font-size: 14px;color: #666; padding:0 20px; line-height: 46px; display: inline-block;height:46px; background:#ddd; margin:0 10px;}
		.HBXX_article label.selected{background:#F3B512; color:#fff;}




/*------------------------------------ 03_网上值机.html ------------------------------------*/
.WSZJ_article{width:978px; background-color:#FFF; border:1px solid #ddd; margin:30px auto 0 auto; color:#777; font-size:12px;}
	.WSZJ_article dl{padding:30px 100px 30px 100px; border-bottom:1px dotted #d1d1d1; margin:30px;}
		.WSZJ_article dl dd{padding:10px 0 10px 0;}
			.WSZJ_article b{font-weight:normal; font-size:16px;}
			.WSZJ_article select{padding:9px 0 14px 10px; border:1px solid #ddd; margin:0 0 0 10px; font-size:16px; color:#777;}
			.WSZJ_article input{width:250px; padding:10px 10px 15px 10px; border:1px solid #ddd; font-size:16px; color:#777; margin:0 10px 0 10px;}
			.WSZJ_article font{color:#F2B412;}
			.WSZJ_article .TY{width:13px;}
			.WSZJ_article ul{padding:30px 0 30px 50px; border-top:1px dotted #d1d1d1; line-height:20px; margin:30px 30px 0 30px;}
			.WSZJ_article h2{font-size:18px; color:#87878B; font-weight:normal; background:url(../images/plane.gif) no-repeat 0 3px; padding:0 0 15px 40px;}

.WSZJ_article h3{font-size:16px; color:#777; font-weight:normal; padding:30px; border-bottom:1px dotted #d1d1d1; margin:0 30px 30px 30px;}
	.WSZJ_article h3 input{width:16px;}
.WSZJ_article h4{font-size:16px; color:#777; font-weight:normal; padding:0 0 30px 70px;}




/*------------------------------------ 06_旅客服务.html ------------------------------------*/
.LK_server{}
	.LK_server ul{width:748px; height:49px; overflow:hidden; font-size:14px;}
		.LK_server li{width:186px; float:left; text-align:center; line-height:47px; border-right:1px solid #ddd;}
			.hovertab_11{height:47px; border-bottom:2px solid #F3B512; color:#F3B512;}
				.hovertab_11 a{color:#F3B512;}
				.hovertab_11 a:hover{text-decoration:none;}
			.normaltab_11{height:48px; border-bottom:1px solid #ddd; color:#999;}
				.normaltab_11 a{color:#999;}
				.normaltab_11 a:hover{text-decoration:none;}
	.LK_server h2{font-weight:normal; font-size:17px; color:#999;}
	.LK_server p{padding:30px; font-weight:normal; font-size:18px; color:#999;}
	.LK_server table{border:1px solid #cacaca; color:#777; margin:0px auto 50px auto;}
		.LK_server td{padding:20px;}
		.LK_server dl{padding:10px 0 0 50px;}
		.LK_server input{width:400px; background-color:#f2f2f2; padding:18px; margin:0 10px 0 10px;}




/*------------------------------------ 7_在线购票.html ------------------------------------*/
.JPYZ3_article{}
	.JPYZ3_article table{color:#777; font-size:16px; margin:50px auto 30px auto; border-bottom:1px dotted #d1d1d1; padding-bottom:30px;}
		.JPYZ3_article td{padding:10px 0 20px 10px;}
			.JPYZ3_article td li{margin-right:20px; text-align:center; width:120px; height:50px; color:#FFF; line-height:40px; float:left;}
				.JPYZ3_article li a:hover{text-decoration:none;}
				
		.hovertab_12{background:url(../images/JP_button_1.gif) no-repeat;}
			.hovertab_12 a{color:#FFF;}
		.normaltab_12{background:url(../images/JP_button_2.gif) no-repeat;}
			.normaltab_12 a{color:#999;}
			
			.JPYZ3_article span{width:483px; height:45px; overflow:hidden; position:relative;}
				.JPYZ3_article select{width:308px; font-size:18px; color:#ababab; padding:10px 0 9px 20px; position:absolute; top:-25px; border:1px solid #ddd;}
				*+html .JPYZ3_article select{right:0px;}
				*html .JPYZ3_article select{right:0px;}
				.JPYZ3_article ol{width:45px; height:45px; background:url(../images/down3.gif) no-repeat; position:absolute; left:262px; top:-25px; z-index:1;}
				*+html .JPYZ3_article ol{left:-46px;}
				*html .JPYZ3_article ol{left:-31px;}
		.JPYZ3_article input{border:1px solid #ddd; padding:11px 0 13px 20px; font-size:16px; color:#ccc;}




/*------------------------------------ 08_在线购票.html ------------------------------------*/
.online_article_2{width:750px; font-size:14px; color:#999;}
	.online_article_2 .h2{border:1px solid #d9d9d9; border-bottom:none;}
	.online_article_2 .h3 td select{border:1px solid #d9d9d9; padding:10px 30px 10px 30px; margin:0 10px 0 20px; color:#999; font-size:16px;}
	
.online_article_2 .h4{font-size:13px; text-align:center; border:1px solid #d9d9d9;}
	.online_article_2 .h4 th{background-color:#f9f9f9; font-weight:normal; color:#333; height:20px;}
	.online_article_2 .h4 td{padding:30px; color:#666;}




/*------------------------------------ 09_在线购票.html ------------------------------------*/
.online_article{width:750px;}
	.online_article a{ color:#F3B512; font-size:14px;}
	
	.online_article .h2 th{font-size:13px; font-weight:normal; color:#666; text-align:center; background-color:#f9f9f9; height:30px; border-bottom:1px solid #d9d9d9;}
	.online_article .h2 td{padding:10px 0 0px 0; color:#666;}
	.online_article .h2 td b{color:#00aaff;}
	
	.online_article .h4{margin:15px 30px 30px 30px; width:600px; text-align:center;}
	.online_article .h4 td{font-size:12px; padding:10px; color:#808080;}
	
	.online_article select{border:1px solid #CCC; color:#666;}
	
	.online_article table{border:1px solid #ddd; width:750px; background-color:#FFF;}
	.online_article h3{background-color:#f9f9f9; font-weight:normal; font-size:20px; color:#333; text-align:left; border-bottom:1px solid #d9d9d9; padding:10px 0 10px 30px;}
.online_article td{padding:20px; color:#999; font-size:12px;}
	.online_article input{border:1px solid #d9d9d9; padding:10px 10px 10px 10px; margin:0 10px 0 10px; color:#999;}	

	.online_article font a{color:#F2B412; font-size:14px; text-decoration:underline;}
	.online_article dt{font-size:12px; color:#666; text-align:right; margin-top:20px;}




/*------------------------------------ 10_在线购票.html/12_机票验证.html ------------------------------------*/
.JPYZ_article{text-align:center;}
	.JPYZ_article h2{background:url(../images/ok.gif) no-repeat 200px; font-size:32px; font-weight:normal; color:#666; margin:100px 0 5px 0;}
	.JPYZ_article h3{font-size:16px; font-weight:normal; color:#646464;}
	.JPYZ_article b{color:#00aaff;}
	.JPYZ_article img{padding:40px 0 150px 0;}

.JPYZ_article h4{font-size:26px; color:#F3B512; padding:30px 0 0px 0;}
.JPYZ_article table{color:#666; font-size:16px; border:1px solid #ddd; margin:30px auto 50px auto; color:#777;}
	.JPYZ_article td{ padding:7px;}




/*------------------------------------ 11_机票验证.html ------------------------------------*/
.JPYZ2_article{}
	.JPYZ2_article table{color:#777; font-size:16px; margin:50px auto 30px auto;}
		.JPYZ2_article td{padding:10px 0 20px 10px;}
		.JPYZ2_article input{border:1px solid #ddd; padding:10px;}
		.JPYZ2_article hr{border-bottom:1px dotted #d1d1d1; border-top:none;}




/*------------------------------------ 13_新闻公告.html ------------------------------------*/
.news_1 h2{width:980px; height:50px; margin:30px auto 0 auto;}

.news_2{width:1121px; margin:30px auto; overflow:hidden;}
	.news_2 dl{width:206px; height:163px; float:left; border-right:1px solid #dedede; padding:0 60px 0 60px;}
		.news_2 dd{width:226px; height:132px; font-size:12px; color:#808080;table-layout:fixed; word-break: break-all;}
			.news_2 dd h3{height:40px; font-size:16px; color:#3d3d3d;}
		.news_2 dt{height:31px;}
		
	.news_2 .ml70{margin-left:71px;}
	*html .news_2 .ml70{margin-left:35px;}
		
	.news_2 .cbp-fwslider{position:relative; overflow:hidden; padding:0 0 60px 0;}
		.news_2 .cbp-fwslider ul{}
			.news_2 .cbp-fwslider ul li{-webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); float:left; display:block;}
				.news_2 .cbp-fwslider ul li > a, .cbp-fwslider ul li > div{display:block; text-align:center; outline:none;}
				.news_2 .cbp-fwslider ul li > a img{border:none; display:block; max-width:75%;}

/* 左右按钮 */
	.news_2 .cbp-fwslider nav span{width:36px; height:36px; background:url(../images/SP_button.gif) no-repeat 0 -36px; color:#fff; font-weight:bold; text-align:center; line-height:36px; position:absolute; top:50%; margin-top:-50px; cursor:pointer;}
		.news_2 .cbp-fwslider nav span:hover{background:url(../images/SP_button.gif) no-repeat;}
	.news_2 .cbp-fwslider nav span.cbp-fwnext{right:0px;}
	.news_2 .cbp-fwslider nav span.cbp-fwprev{left:0px;}
/* 小点 */
	.news_2 .cbp-fwdots{width:100%; position:absolute; bottom:0px; white-space:nowrap; text-align:center;}
	.news_2 .cbp-fwdots span{display:inline-block;  width:18px;  height:18px;  background:#ddd;  margin:4px; border-radius:50%;  cursor:pointer;}
	.news_2 .cbp-fwdots span:hover{background:#999;}
	.news_2 .cbp-fwdots span.cbp-fwcurrent{background:#47a3da;  box-shadow:0 0 0 2px #47a3da;  -webkit-transition:box-shadow 0.2s ease-in-out;  -moz-transition:box-shadow 0.2s ease-in-out;  transition:box-shadow 0.2s ease-in-out;}

.news_3{}
	.news_3 dl{width:20%; position:relative; float:left; overflow:hidden}	
		.news_3 dd{position:absolute;}
			.news_3 a:hover dd{background:url(../images/jia.png) no-repeat;}
			.news_3 dl img{width:100%; -webkit-transition:all .3s; transition:all .3s; display:block;}
		
	.news_3 .cbp-fwslider3{position:relative; overflow:hidden; padding:0 0 40px 0;}
			.news_3 .cbp-fwslider3 ul li{-webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); float:left; display:block;}
				.news_3 .cbp-fwslider3 ul li > a, .cbp-fwslider ul li > div{display:block; outline:none;}
				.news_3 .cbp-fwslider3 ul li > a img{border:none; display:block; max-width:75%;}

/* 左右按钮 */
	.news_3 .cbp-fwslider3 nav span{width:0px; height:0px; font-size:0px; position:absolute; top:50%; margin-top:-50px; cursor:pointer;}
		.news_3 .cbp-fwslider3 nav span:hover{}
	.news_3 .cbp-fwslider3 nav span.cbp-fwnext{right:0px;}
	.news_3 .cbp-fwslider3 nav span.cbp-fwprev{left:0px;}
/* 小点 */
	.news_3 .cbp-fwdots{width:100%; position:absolute; bottom:10px; white-space:nowrap; text-align:center;background-color:#f5f5f5;}
	.news_3 .cbp-fwdots span{display:inline-block;  width:18px;  height:18px;  background:#ddd;  margin:4px; border-radius:50%;  cursor:pointer;}
	.news_3 .cbp-fwdots span:hover{background:#999;}
	.news_3 .cbp-fwdots span.cbp-fwcurrent{background:#47a3da;  box-shadow:0 0 0 2px #47a3da;  -webkit-transition:box-shadow 0.2s ease-in-out;  -moz-transition:box-shadow 0.2s ease-in-out;  transition:box-shadow 0.2s ease-in-out;}


.news_4{width:1121px; margin:30px auto; overflow:hidden;}
	.news_4 h2{width:980px; height:50px; margin:30px auto 30px auto;}
	.news_4 dl{width:302px; height:391px; float:left; padding:0 30px 0 0;}
		.news_4 dd{width:302px; height:297px; overflow:hidden; font-size:12px; color:#808080; table-layout:fixed; word-break:break-all;}
			.news_4 dd img{width:302px; height:206px;}
			.news_4 dd h3{font-size:16px; color:#3d3d3d; overflow:hidden; text-align:center; padding:5px 0 10px 0;}
		.news_4 dt{height:31px; padding-top:10px;}
		
	.news_4 .ml80{margin-left:80px;}
	*html .news_4 .ml80{margin-left:40px;}
		
	.news_4 .cbp-fwslider2{position:relative; overflow:hidden; padding:0 37px 0 0;}
		.news_4 .cbp-fwslider2 ul{}
			.news_4 .cbp-fwslider2 ul li{-webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); float:left; display:block;}
				.news_4 .cbp-fwslider2 ul li > a, .cbp-fwslider ul li > div{display:block; text-align:center; outline:none;}
				.news_4 .cbp-fwslider2 ul li > a img{border:none; display:block; max-width:75%;}

/* 左右按钮 */
	.news_4 .cbp-fwslider2 nav span{width:36px; height:36px; background:url(../images/SP_button.gif) no-repeat 0 -36px; color:#fff; font-weight:bold; text-align:center; line-height:36px; position:absolute; top:50%; margin-top:-70px; cursor:pointer;}
		.news_4 .cbp-fwslider2 nav span:hover{background:url(../images/SP_button.gif) no-repeat;}
	.news_4 .cbp-fwslider2 nav span.cbp-fwnext{right:0px;}
	.news_4 .cbp-fwslider2 nav span.cbp-fwprev{left:0px;}
/* 小点 */
	.news_4 .cbp-fwdots{width:100%; position:absolute; bottom:0px; white-space:nowrap; text-align:center;}
	.news_4 .cbp-fwdots span{display:inline-block;  width:18px;  height:18px;  background:#ddd;  margin:4px; border-radius:50%;  cursor:pointer;}
	.news_4 .cbp-fwdots span:hover{background:#999;}
	.news_4 .cbp-fwdots span.cbp-fwcurrent{background:#47a3da;  box-shadow:0 0 0 2px #47a3da;  -webkit-transition:box-shadow 0.2s ease-in-out;  -moz-transition:box-shadow 0.2s ease-in-out;  transition:box-shadow 0.2s ease-in-out;}




/*------------------------------------ 16_医疗健康.html ------------------------------------*/
.doctor_article{}
	.doctor_article h2{background-color:#f9f9f9; border-bottom:1px solid #e3e3e3; font-size:20px; font-weight:normal; text-align:left; color:#333; padding:5px 0 5px 30px;}
	.doctor_article h3{font-size:14px; font-weight:normal; color:#797979; padding:30px 50px 20px 50px;}
	*html .doctor_article h3{padding:30px 25px 20px 23px;}
	.doctor_article h3 img{padding:0 5px 0 5px;}
	.doctor_article h4{width:700px; height:38px; margin-bottom:30px;}
		.doctor_article span{width:335px; height:38px; padding-left:15px;}
		*+html .doctor_article span{padding-left:0;}




/*------------------------------------ 17_延误公告.html ------------------------------------*/
.other_article{}
	.other_article h2{background-color:#f9f9f9; border-bottom:1px solid #e3e3e3; font-size:20px; font-weight:normal; text-align:left; color:#333; padding:5px 0 5px 30px;}
	.other_article h3{font-size:24px; font-weight:normal; text-align:center; color:#646464; padding:40px 0 35px 0;}
	.other_article h4{font-size:14px; font-weight:normal; color:#797979; padding:0 30px 20px 30px;}




/*------------------------------------ 18_商家展示.html ------------------------------------*/
.shop_L{width:525px;}
	.shop_L ul{width:523px; height:49px; overflow:hidden; font-size:18px; border:1px solid #ddd; border-bottom:none; background-color:#FFF;}
		.shop_L li{width:130px; float:left; text-align:center; line-height:47px; border-right:1px solid #ddd;}
			.hovertab_10{height:47px; border-bottom:2px solid #F3B512; color:#F3B512;}
			.normaltab_10{height:48px; border-bottom:1px solid #ddd; color:#939393;}

.shop_L h2{font-weight:normal; font-size:16px; color:#666; padding-top:20px;}
	.shop_L h2 input{width:358px; border:1px solid #ddd; padding:11px 10px 14px 20px; font-size:16px; color:#ababab;}
	.shop_L h2 dl{height:288px; border:1px solid #ddd; margin-top:10px; background-color:#fff;}
	
		.shop_L h2 dl dd{width:483px; height:45px; margin:20px; overflow:hidden; position:relative; border:1px solid #ddd;}
			.shop_L h2 select{width:483px; font-size:18px; color:#ababab; padding:10px 0 9px 20px; position:absolute; top:0;}
			.shop_L h2 dl ol{width:45px; height:45px; background:url(../images/down3.gif) no-repeat; position:absolute; right:0; z-index:1;}
		
	.shop_L h2 small a{color:#00aaff; padding:0 40px 0 0; line-height:50px;}

.shop_R{width:415px; height:418px;}

.shop_down{}
	.shop_down dd{padding:0 15px 0 15px;}
		.shop_down dd img{width:213px; height:148px; border:1px solid #dadada;}



/*------------------------------------ 19_视频中心.html ------------------------------------*/
.video_1{}
	.video_1 h2{height:60px;}

.video_2{width:1121px; margin:30px auto; position:relative; overflow:hidden;}	
	.video_2 dl{width:327px; height:313px; float:left; text-align:center; font-size:16px; position:relative;}
		.video_2 dl a:hover{background:url(../images/play.png) no-repeat; text-decoration:none; cursor:hand;}		
		.video_2 dd{width:327px; height:235px; position:absolute; padding-top:260px; left:0;}
			.video_2 a dd{background:url(../images/video_2_dd_bg.gif) repeat-x; color:#3d3d3d;}
			.video_2 a:hover dd{background:url(../images/video_2_dd_bg.png) no-repeat; color:#fff;}
		.video_2 dt a{width:327px; height:78px; background:#eee;}
		.video_2 dt a:hover{background:#F3B512;}
		
	.video_2 .ml70{margin-left:71px;}
	*html .video_2 .ml70{margin-left:35px;}
		
	.video_2 .cbp-fwslider{position:relative; overflow:hidden; padding:0 0 60px 0;}
		.video_2 .cbp-fwslider ul{white-space:nowrap;}
			.video_2 .cbp-fwslider ul li{-webkit-transform:translateZ(0); -moz-transform:translateZ(0); transform:translateZ(0); float:left; display:block;}
				.video_2 .cbp-fwslider ul li > a, .cbp-fwslider ul li > div{display:block; text-align:center; outline:none;}
				.video_2 .cbp-fwslider ul li > a img{border:none; display:block; max-width:75%;}

/* 左右按钮 */
	.video_2 .cbp-fwslider nav span{width:36px; height:36px; background:url(../images/SP_button.gif) no-repeat 0 -36px; color:#fff; font-weight:bold; text-align:center; line-height:36px; position:absolute; top:50%; margin-top:-50px; cursor:pointer;}
		.video_2 .cbp-fwslider nav span:hover{background:url(../images/SP_button.gif) no-repeat;}
	.video_2 .cbp-fwslider nav span.cbp-fwnext{right:0px;}
	.video_2 .cbp-fwslider nav span.cbp-fwprev{left:0px;}
/* 小点 */
	.video_2 .cbp-fwdots{width:100%; position:absolute; bottom:0px; white-space:nowrap; text-align:center;}
	.video_2 .cbp-fwdots span{display:inline-block;  width:18px;  height:18px;  background:#ddd;  margin:4px; border-radius:50%;  cursor:pointer;}
	.video_2 .cbp-fwdots span:hover{background:#999;}
	.video_2 .cbp-fwdots span.cbp-fwcurrent{background:#47a3da;  box-shadow:0 0 0 2px #47a3da;  -webkit-transition:box-shadow 0.2s ease-in-out;  -moz-transition:box-shadow 0.2s ease-in-out;  transition:box-shadow 0.2s ease-in-out;}

.video_3{height:582px; background:url(../images/SP.jpg) no-repeat center; text-align:center; margin-top:50px;}
	.video_3 h2{text-align:center; padding-top:220px;}
		.video_3 h2 img{width:603px; height:178px;}

.video_4{}
	.video_4 h2{height:60px; background:url(../images/video_top_2.gif) no-repeat top left;}
	.video_4 dl{width:430px; height:81px; padding:50px 0 0 40px;}
		.video_4 dd{width:73px; height:81px; background:url(../images/Date.gif) no-repeat; margin:0 20px 0 0; color:#fff; font-size:18px; text-align:center;}
			.video_4 dd p{font-size:32px; font-weight:bold; margin:5px 0 -10px 0;}
		.video_4 dt{width:337px; font-size:12px; color:#999; margin:10px 0 0 0;}
			.video_4 dt p{font-size:16px; color:#3d3d3d; margin-bottom:5px;}




/*------------------------------------ 20_评论中心.html ------------------------------------*/
.IWantToComment{}
	.IWantToComment p{padding:30px 0 40px 0; text-align:center;}
	.IWantToComment table{font-size:16px; color:#464C52; margin:0 0 0 70px; line-height:35px;}
		.IWantToComment td{padding:0 20px 0 0;}
		.IWantToComment input{width:40px; height:40px;}
		.IWantToComment textarea{width:920px; height:280px; background-color:#F6f6f6; border:none; font-size:20px; color:#464C52; padding:30px; overflow:hidden;}

.IWantToComment ul{margin:30px 0 30px 330px;}

.IWantToComment dl{width:480px; margin:10px 0 0 10px;}
*html .IWantToComment dl{margin:10px 0 0 6px;}
	.IWantToComment dl dd{border:1px solid #e7e7e7; color:#848484; font-size:14px; padding:5px 0 5px 20px; width:458px;}
		.IWantToComment dl dd small{font-size:12px; padding:2px 40px 0 0;}
	.IWantToComment dl dt{font-size:12px; color:#777; padding:20px;}
			.hovertab_13{background:url(../images/up_3.gif) no-repeat 450px 6px;}
			.normaltab_13{background:url(../images/down_3.gif) no-repeat 450px 6px;}




/*------------------------------------ 21_服务热线.html ------------------------------------*/
.other_article_article{width:978px; border:1px solid #d9d9d9; background-color:#FFF;}
	.other_article_article h2{background-color:#f9f9f9; border-bottom:1px solid #d9d9d9; font-size:20px; font-weight:normal; text-align:left; color:#333; padding:5px 0 5px 30px;}
	.other_article_article h3{ padding:30px; font-size:12px; color:#636363; font-weight:normal; line-height:22px;}

.other_article_article ul{margin:20px 40px 30px 40px; width:898px;}
	.other_article_article li{border-bottom:1px dashed #e0e0e0; font-size:14px; color:#00AAFF; padding:20px 0 0 0; height:50px; line-height:50px;}
		.other_article_article b{color:#8C8C8C;}
		.other_article_article small{width:120px; height:36px; border:1px solid #ddd; text-align:center; line-height:36px;}
			.other_article_article a small{font-size:16px; color:#727272;}
			.other_article_article a:hover small{ color:#fff; background-color:#00AAFF;}

.other_article_article dl{padding:50px 0 10px 120px; border-bottom:1px dotted #d1d1d1; margin-bottom:30px;}
	.other_article_article dd{padding:20px 0 10px 0;}
		.other_article_article dd b{font-size:16px; color:#6B6B6B;}
		.other_article_article dd input{ border:1px solid #dfdfdf; width:350px; margin:0 10px 0 10px; padding:10px;}
		.other_article_article dd span{font-size:12px; color:#9B9B9B; padding-top:10px;}
		.other_article_article dd font{font-size:12px; color:#F6C74D;}
		.other_article_article dd a{color:#00aaff;}




/*------------------------------------ 23_制度内容.html ------------------------------------*/
.other_zdnr{}
.other_zdnr h2{color:#95958c; font-size:18px; text-align:center; padding-top:30px;}
	.other_zdnr table{border:1px solid #cacaca; color:#95958c; margin:30px auto 50px auto;}
	.other_zdnr td{padding:20px;}

	.MyMenu2{width:198px; border:1px solid #dadada; background-color:#FFF; font-size:12px;}
		.MyMenu2 h2{height:67px; line-height:67px; font-weight:normal; font-size:22px; text-align:center; color:#F2B312;}
		
		.MyMenu2 div{overflow:hidden;}/* 按钮 */
			.MyMenu2 div span{width:148px; height:49px; line-height:48px; font-size:16px; background:url(../images/button-down_2.gif) no-repeat 140px; background-color:#999; padding-left:10px; margin-left:20px; display:block;}
				.MyMenu2 div span a{color:#eee;}
				.MyMenu2 div span a:hover{color:#F2B512; text-decoration:none;}
			
			.MyMenu2 div.collapsed{height:49px;}/* 按钮之间高度 */
				.MyMenu2 div.collapsed span{background:url(../images/button-right_2.gif) no-repeat 140px #eee;}
					.MyMenu2 div.collapsed span a{color:#999;}
	
			.MyMenu2 p{height:30px; line-height:32px; border-bottom:1px dotted #a7a7a7; margin:0 40px 5px; 40px; text-align:center;}
				.MyMenu2 p a{color:#666; display:block;}
				.MyMenu2 p a:hover{color:#F2B512;}




/*------------------------------------ 27_乘机须知页面.html ------------------------------------*/
.CJXZ_door{}
	.CJXZ_door ul{width:748px; height:49px; overflow:hidden; font-size:14px;}
		.CJXZ_door li{width:123px; float:left; text-align:center; line-height:47px; border-right:1px solid #ddd;}
			.hovertab_8{height:47px; border-bottom:2px solid #F3B512; color:#F3B512;}
				.hovertab_8 a{color:#F3B512;}
				.hovertab_8 a:hover{text-decoration:none;}
			.normaltab_8{height:48px; border-bottom:1px solid #ddd; color:#999;}
				.normaltab_8 a{color:#999;}
				.normaltab_8 a:hover{text-decoration:none;}
	.CJXZ_door h2{padding:30px; font-weight:normal; font-size:14px; color:#999; line-height:22px;}
	.CJXZ_door h2 b{ font-size:16px; color:#222;}




/*------------------------------------ 28_交通指南.html ------------------------------------*/
.JTZN_L{width:750px;}
	.JTZN_L ul{width:748px; height:49px; overflow:hidden; font-size:14px; background-color:#FFF; border:1px solid #ddd; border-bottom:none;}
		.JTZN_L li{width:123px; float:left; text-align:center; line-height:47px; border-right:1px solid #ddd;}
		
	.JTZN_L h2{font-weight:normal;}
		.JTZN_L p{margin-top:10px; border:1px solid #dadada; background-color:#FFF; font-size:14px; color:#999; line-height:66px; padding-left:22px;}

	.JTZN_L h3{border:1px solid #dadada; font-size:12px; color:#999; background-color:#FFF; font-weight:normal; margin-top:10px; padding:30px; line-height:24px;}
		.JTZN_L h3 b{font-size:16px; color:#111;}
		
	.hovertab_9{background:url(../images/Jia.gif) no-repeat 692px 10px;}
	.normaltab_9{background:url(../images/no_Jia.gif) no-repeat 692px 10px;}




/*------------------------------------ 29_长水百问.html ------------------------------------*/
.FAQ_search{}
	.FAQ_search input{width:546px; background-color:#f2f2f2; font-size:16px; color:#ACACAC; margin:30px 5px 30px 25px; padding:12px 0 15px 20px;}
	.FAQ_search dl{width:688px; border-bottom:1px solid #f2f2f2; margin:0 30px 30px 30px;}
		.FAQ_search dd{color:#848484; font-size:16px;}
		.FAQ_search dt{color:#ACACAC; font-size:12px; padding:10px 0 10px 0;}

.FAQ_search_button{height:120px;}
	.FAQ_search_button dl{width:192px; float:left; text-align:center; padding:17px 0 17px 0; margin:30px 0 30px 42px;}
	*html .FAQ_search_button dl{margin:30px 0 30px 22px;}
		.FAQ_search_button a dl{color:#737373; background-color:#FFF; border:1px solid #ddd;}
		.FAQ_search_button a:hover dl{color:#FFF; background-color:#F3B512; border:1px solid #F3B512; text-decoration:none; cursor:hand;}




/*------------------------------------ 30_旅程指南频道.html ------------------------------------*/
.lczn dl{width:312px; height:142px; padding:7px;}
	.lczn dl img{width:312px; height:142px;}




/*------------------------------------ footer ------------------------------------*/
.footer{font-size:12px; color:#676767; font-family:Arial; padding-top:50px;}
*+html .footer{margin-top:50px;}
*html .footer{margin-top:50px;}
	.footer dl{height:96px;}
	*html .footer dl{height:30px;}
		.footer dd{padding-top:39px;}
		.footer dt{padding-top:31px;}
		*html .footer dt{padding-left:450px;}
			.footer dt li{padding-left:7px;}




/*gavin add 2016-1-31 15:41:144*/
.clear{ clear:both; height:0px; content:'.';font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{zoom:1;}
.two_tabs{position: relative;height: 58px;overflow: hidden;}
.two_tabs a{width: 50%;float: left;color: #A0A0A0;font-size: 24px;font-weight: normal;text-align: center;height: 57px;border-bottom:1px solid #C5C5C5;border-left: 1px solid #C5C5C5;line-height: 57px;margin-left:-1px;text-decoration: none}
.two_tabs a.selected{border-bottom:3px solid #00AAFF;height: 55px;line-height: 55px;}

.cfzz{width: 760px;background-color: #FFF;padding-bottom: 30px;}
.cfzz .con_box{padding: 30px;position: relative;}
.cfzz .con_checkobx{position: absolute;left:20px;top:20px;}
.cfzz .con_checkobx p{padding:5px 0px;color:#A0A0A0}
.cfzz .order_info{padding:20px; }
.cfzz .order_info a{color: #00A9FF}
.cfzz .order_info table{width: 100%;margin-bottom: 20px;}
.cfzz .order_info table th{border-bottom:1px dotted #ccc;padding:10px 0px;text-align: right;font-weight: normal;font-size: 14px;color: #7D7D7D}
.cfzz .order_info table td{border-bottom:1px dotted #ccc;padding:10px 0px;color: #000}
.cfzz .order_info table td span{color: #ff0000;}
.cfzz .order_info .order_info_btn{width: 138px;height: 45px;line-height: 45px;color: #fff;font-size: 16px;background: #00AAFF;border:0px;cursor: pointer}
.cfzz .order_info h3{color: #333333;height: 40px;font-size: 14px;background: #F7F7F7;line-height: 40px;font-weight: normal;padding:0 10px;}
.cfzz .order_info .order_input{padding:20px 0px;}
.cfzz .order_info .order_input p{margin-bottom:20px;}
.cfzz .order_info .order_input input{height:42px;line-height:42px;width:354px;border:1px solid #C7C7C7;float: left;}
.cfzz .order_info .order_input select{border:1px solid #C7C7C7;padding:10px;width: 100%;height: 40px;}
.cfzz .order_info .order_input span{color:#C7C7C7;font-size: 12px;line-height: 42px;padding-left:20px;}

.user_info_order_btn{float: right;padding-right:30px;}
.user_info_order_btn button{width: 138px;height: 45px;line-height: 45px;color: #fff;font-size: 16px;background: #00AAFF;border:0px;cursor: pointer}

.news_list{width: 750px;}
.news_list .text_ls{background: #fff;border:1px solid #DDDDDD;padding-top:30px;}
.news_list .text_ls dd a{color: #3D3D3D}
.news_list .text_ls dd a:hover{color: #00AAFF}
.news_list .page_list{padding-left:0px;}
.news_list .pic_text_ls{background: #fff;border:1px solid #DDDDDD;padding-top:30px;} 
.news_list .pic_text_ls dt.pic{float: left;padding-right:20px;} 
.news_list .pic_text_ls dl{margin-bottom:20px;padding-bottom:20px;}
.news_list .pic_text_ls dd{padding-top:10px;}
.news_list .pic_text_ls dd a{color: #3D3D3D}
.news_list .pic_text_ls dd a:hover{color: #00AAFF}
.news_list .pics_ls{background: #fff;border:1px solid #DDDDDD;padding:30px;}
.news_list .pics_ls ul{width: 100%}
.news_list .pics_ls ul li{float: left;width: 215px;height:160px;margin:5px 7px;}

.modify_dialog{width: 680px;height: 605px;background: #fff}
.modify_dialog .close{background: url(./images/closed.png) no-repeat;width: 63px;height: 63px;position: absolute;right:-20px;top:-20px;display:block;}
.modify_dialog form{padding:30px;}
.modify_dialog form label{display:block;margin:15px 0px;}
.modify_dialog form label span{width: 100px;text-align: right;color: #00A9FF;font-size: 16px;display:block;float: left;padding-right:10px;line-height: 50px;}
.modify_dialog form label span select{padding:15px 0px;color: #00A9FF;font-size: 16px;}
.modify_dialog form label span i{display:inline-block;width: 24px;height: 20px;float: left;margin-top:18px;}
.modify_dialog form label span i.push_icon{background: url(./image/add_push_icons.png) no-repeat left -39px;}
.modify_dialog form label input{width:455px;height: 30px;line-height: 30px;padding:10px 10px;border:1px solid #C6C6C6;}
.modify_dialog form .add{padding-left:110px;}
.modify_dialog form .add a{background: url(./image/add_push_icons.png) no-repeat left 0px;padding-left:30px;color: #00A9FF;height: 25px;line-height: 25px;display:inline-block;}
.modify_dialog form .add p{font-size: 14px;color: #8C8C80}
.modify_dialog form .add button{background: #00AAFF;color: #fff;font-size: 18px;padding:15px 30px;border:0px;}