<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="renderer" content="ie-comp">
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>网上值机 - 云南省昆明市长水机场 | www.1.com</title>
<meta name="Build" content="2015-12" />
<meta name="Designer" content="QQ53477638" />
<link rel="stylesheet" media="screen" type="text/css" href="StyleSheet.css" />
<!-- png --><script language=JavaScript src="js/png.js"></script>
	<script type="text/javascript">
		EvPNG.fix('img,ol');
		function MM_jumpMenu(targ,selObj,restore){eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
		if (restore) selObj.selectedIndex=0;}
	</script><!-- /png-->
<script language=JavaScript src="js/user.js"></script>
<!-- user --><script type="text/javascript">
$(function(){
		$("li.mainmenu").hover(function(){
			$(this).find("dt").stop(true,true);
			$(this).find("dt").slideDown();
		},function(){
			$(this).find("dt").stop(true,true);
			$(this).find("dt").slideUp();
		});
		
	})
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script><!-- /user-->
<!-- 选项卡 -->
<SCRIPT language=JavaScript>
	<!--//
	function g(o){return document.getElementById(o);} 
	function HoverLi4(n){ for(var i=1;i<=4;i++){g('tb4_'+i).className='normaltab_4';g('tbc4_0'+i).className='undis';}g('tbc4_0'+n).className='dis';g('tb4_'+n).className='hovertab_4';
	}
	// -->
</SCRIPT>
<!-- /选项卡 -->
</head>




<body>
<div class="head">
    <ul class="w980">
        <a href="/"><h1>云南省昆明市长水机场 | www.1.com</h1></a>
 
        <dl class="hh">
        <!---- 登录前 ---->
            <!--<dd class="bhh"><a href="reg.html"><img src="images/button_login.gif" /></a></dd>
            <dd class="bhh"><a href="login.html"><img src="images/button_reg.gif" /></a></dd>-->
        <!---- /登录前 ---->
        
        <!---- 登录后 ---->
            <li class="mainmenu hh"><img src="images/user_head.jpg" align="absmiddle" />欢迎您，<a href="user.html">朱少鸿</a>
                <dt>
                    <a href="/"><p class="p1">我的资料</p></a>
                    <a href="/"><p class="p2">我的收藏</p></a>
                    <a href="/"><p class="p3">消息盒子</p></a>
                    <a href="/"><p class="p4">帮助中心</p></a>
                    <a href="/"><p class="p5">注销</p></a>
                </dt>
            </li>
        <!---- /登录后 ---->
        </dl>  
    </ul w980>
</div head>




<div class="nav">
    <ul class="w980">
        <li class="bhh"><a href="/"><img src="images/nav1_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav2_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav3_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav4_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav5_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav6_1.gif" /></a></li>
        <li class="bhh"><a href="/"><img src="images/nav7_1.gif" /></a></li>
    </ul>
</div nav>




<div class="name w980 mt30">
    <ul>
        <li class="li1 bhh">
            <dl>
                <ol><img src="images/use_head_bg.png" /></ol>
                <dd class="bhh"><img src="images/user_head.jpg" /></dd>
                <dt class="bhh">
                <p>Z31ING</p>
                <p><img src="images/vip.gif" align="left" /><b>VIP3</b></p>
                <p><a href="/"><img src="images/delete.gif" /></a></p>
                </dt>
            </dl>
        </li>
        <li class="li2 bhh"><center><b>我的积分：</b>500</center></li>
        <li class="li3 bhh"><center><b>我的评价：</b>36条</center></li>
        <li class="li4 bhh"><a href="/"><img src="images/qd.gif" /></a></li>
    </ul>
</div name w980 mt30>




<div class="menu1">
    <ul>
        <li class="bhh"><a href="MyWay.html"><img src="images/ico1_1.gif" onmouseover="this.src='images/ico1_2.gif'" onmouseout="this.src='images/ico1_1.gif'" /></a></li>
        <li class="bhh"><a href="net.html"><img src="images/ico2_2.gif" /></a></li>
        <li class="bhh"><a href="hbdt.html"><img src="images/ico3_1.gif" onmouseover="this.src='images/ico3_2.gif'" onmouseout="this.src='images/ico3_1.gif'" /></a></li>
        <li class="bhh"><a href="search.html"><img src="images/ico4_1.gif" onmouseover="this.src='images/ico4_2.gif'" onmouseout="this.src='images/ico4_1.gif'" /></a></li>
        <li class="bhh"><a href="message.html"><img src="images/ico5_1.gif" onmouseover="this.src='images/ico5_2.gif'" onmouseout="this.src='images/ico5_1.gif'" /></a></li>
        <li class="bhh"><a href="find.html"><img src="images/ico6_1.gif" onmouseover="this.src='images/ico6_2.gif'" onmouseout="this.src='images/ico6_1.gif'" /></a></li>
    </ul>
</div menu1>

	
	

<div class="net_7 w980 mt30">
	<h2><a href="javascript:void(0);"><small class="hovertab_4" id="tb4_1" onclick="x:HoverLi4(1);" id="tb4_"></small></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_1.gif" align="absmiddle" /> &nbsp;航班号:T53220 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_2.gif" align="absmiddle" /> &nbsp;昆明 > 成都 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_3.gif" align="absmiddle" /> &nbsp;乘机时间：2015/07/22</h2>
		
	<div class="dis" id="tbc4_01">
		<dl>
			<dd class="bhh">登机口 <b>58</b></dd>
			<dt class="bhh">座位号 <b>20A</b></dt>
		</dl>
			
		<ul>
			<li class="bhh">登机开始时间：2015-07-02 12:00<br />咨询热线：400-8000-700</li>
			<li class="bhh">登机截止时间：2015-07-02 12:00<br />机型：波音737</li>
			<li class="bhh">预计到达时间：2015-07-02 12:00</li>
		</ul>
	</div>
	
	<h2><a href="javascript:void(0);"><small class="hovertab_4" id="tb4_2" onclick="x:HoverLi4(2);" id="tb4_"></small></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_1.gif" align="absmiddle" /> &nbsp;航班号:T53220 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_2.gif" align="absmiddle" /> &nbsp;昆明 > 成都 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_3.gif" align="absmiddle" /> &nbsp;乘机时间：2015/07/22</h2>
		
	<div class="undis" id="tbc4_02">
		<dl>
			<dd class="bhh">登机口 <b>58</b></dd>
			<dt class="bhh">座位号 <b>20A</b></dt>
		</dl>
			
		<ul>
			<li class="bhh">登机开始时间：2015-07-02 12:00<br />咨询热线：400-8000-700</li>
			<li class="bhh">登机截止时间：2015-07-02 12:00<br />机型：波音737</li>
			<li class="bhh">预计到达时间：2015-07-02 12:00</li>
		</ul>
	</div>
	
	<h2><a href="javascript:void(0);"><small class="hovertab_4" id="tb4_3" onclick="x:HoverLi4(3);" id="tb4_"></small></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_1.gif" align="absmiddle" /> &nbsp;航班号:T53220 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_2.gif" align="absmiddle" /> &nbsp;昆明 > 成都 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_3.gif" align="absmiddle" /> &nbsp;乘机时间：2015/07/22</h2>
		
	<div class="undis" id="tbc4_03">
		<dl>
			<dd class="bhh">登机口 <b>58</b></dd>
			<dt class="bhh">座位号 <b>20A</b></dt>
		</dl>
			
		<ul>
			<li class="bhh">登机开始时间：2015-07-02 12:00<br />咨询热线：400-8000-700</li>
			<li class="bhh">登机截止时间：2015-07-02 12:00<br />机型：波音737</li>
			<li class="bhh">预计到达时间：2015-07-02 12:00</li>
		</ul>
	</div>
	
	<h2><a href="javascript:void(0);"><small class="hovertab_4" id="tb4_4" onclick="x:HoverLi4(4);" id="tb4_"></small></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_1.gif" align="absmiddle" /> &nbsp;航班号:T53220 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_2.gif" align="absmiddle" /> &nbsp;昆明 > 成都 &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/net7_3.gif" align="absmiddle" /> &nbsp;乘机时间：2015/07/22</h2>
		
	<div class="undis" id="tbc4_04">
		<dl>
			<dd class="bhh">登机口 <b>58</b></dd>
			<dt class="bhh">座位号 <b>20A</b></dt>
		</dl>
			
		<ul>
			<li class="bhh">登机开始时间：2015-07-02 12:00<br />咨询热线：400-8000-700</li>
			<li class="bhh">登机截止时间：2015-07-02 12:00<br />机型：波音737</li>
			<li class="bhh">预计到达时间：2015-07-02 12:00</li>
		</ul>
	</div>
</div net_7 w980 mt30>




<table cellspacing="0" cellpadding="0" class="footer" width="100%">
    <tr><td align="center"><a href="javascript:window.scrollTo( 0, 0 );"><img src="images/top.gif" /></a></td></tr>
    <tr>
        <td height="96" bgcolor="#130c11">
            <dl class="w980">
                <dd class="bhh">COPYRIGHT YUNNAN AIRPORT GROUP CO.,LTD.ALL RIGHTS RESERVED</dd>
                <dt class="hh">
                    <li class="bhh"><a href="tencent://message/?uin=53477638"><img src="images/footer_QQ1.gif" onmouseover="this.src='images/footer_QQ2.gif'" onmouseout="this.src='images/footer_QQ1.gif'" /></a></li>
                    <li class="bhh"><a href="javascript:void(0);"><img src="images/footer_weixin1.gif" onmouseover="this.src='images/footer_weixin2.gif'" onmouseout="this.src='images/footer_weixin1.gif'" /></a></li>
                    <li class="bhh"><a href="javascript:void(0);"><img src="images/footer_weibo1.gif" onmouseover="this.src='images/footer_weibo2.gif'" onmouseout="this.src='images/footer_weibo1.gif'" /></a></li>
                </dt>
            <dl>
        </td>
    </tr>
</table>
</body>
</html>
