<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>我的登机牌</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=640px,initial-scale=0.5625, minimum-scale=0.5625,  user-scalable=no">
		<link rel="stylesheet" href="/template/wap/css/base.css">
		
		<!---当前页面--->
		<link rel="stylesheet" type="text/css" href="/template/wap/css/zj.css" />
        <style type="text/css">
        .div-all{ background-size:cover;  }
        </style>
	</head>
	
	<body>
		<div class="div-all">
			<div class="div-waring">没有找到值机信息</div>
			<button class="btn-zj" onclick="location.href='airportm_addCheckinInfo.action'">现在去值机</button>
		</div>
	</body>
</html>
